/* Write your CSS here */
.button {
  height: 30px;
  width: auto;
  background-color: #f8fafc;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 0px;
  border-radius: 10px;
  color: #303150;
}
